// out: recipeFinder.css, sourcemap: false, compress: true

/**
 * Conner Ardman
 * INFO 340
 * This file provides styling information for the Cook Cheap application
 */

// Global Variables: Changing these should control the majority of the design of the page
@filter-color: #1a3d78;
@heading-color: @filter-color;
@background-color: #E4DFDA;
@inverted-text-color: white;
@heading-text-border: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
@section-border-size: 2px;
@section-border: @section-border-size solid black;
@component-spacing: 10px;
@text-padding: 5px;
@main-height: 85vh;
@slider-width: 100%;
@filter-width: 90%;
@plan-border-radius: 15px;
@max-recipe-image-width: 350px;
@max-recipe-image-height: 450px;

// Calculating how much room is left for header and footer after main and borders
@total-header-room: (100vh - @main-height) / 2;
@header-footer-height: ~"calc(@{total-header-room} - @{section-border-size})";

body {
   margin: 0;
   font-family: "Helvetica Neue", Arial, sans-serif;
   background-color: @background-color;
}

header {
   background-color: @heading-color;
   color: @inverted-text-color;
   border-bottom: @section-border;
   text-align: center;
   height: @header-footer-height;
   line-height: @header-footer-height;

   h1 {
      margin: 0;
      padding-left: @text-padding;
      text-shadow: @heading-text-border;
      font-size: 2.5em;
   }
}

main {
   margin: @component-spacing;
}

footer {
   background-color: @heading-color;
   color: @inverted-text-color;
   height: @header-footer-height;
   line-height: @header-footer-height;
   text-align: center;
   border-top: @section-border;
   width: 100%;

   p {
      margin: 0;
   }
}

a {
   text-decoration: none;
   color: @inverted-text-color;

   &:hover {
      text-decoration: underline;
      cursor: pointer;
   }
}

#application-container {
   margin: 0;

   #filters {
      background-color: @filter-color;
      color: @inverted-text-color;
      text-align: center;
      overflow: auto;
      border-right: @section-border;

      button {
         margin-top: @component-spacing;
         margin-bottom: @component-spacing;
         font-size: 1em;
         border-radius: 5px;
      }

      h2, h3 {
         text-shadow: @heading-text-border;

         &.chevron::after {
            border-style: solid;
            border-width: 0.2em 0.2em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 0.25em;
            position: relative;
            transform: rotate(135deg);
            top: -.15em;
            vertical-align: middle;
            width: 0.45em;
            color: black;
         }

         &.chevron.rotated::after {
            top: 0;
            transform: rotate(45deg);
         }
      }

      h2 {
         font-size: 2em;
         padding-left: @text-padding;
         cursor: pointer;
      }

      > div {
         border-top: 1px solid black;
         border-bottom: 1px solid black;
         border-right: 0;
         border-left: 0;
         padding-left: @text-padding;
         padding-bottom: @text-padding;

         > div {
            margin: auto;
            width: @filter-width;
         }

         h3 {
            margin: @component-spacing;
            cursor: pointer;
         }

         h4 {
            margin: @component-spacing / 2;
         }

         p {
            margin: 0;
         }

         .slider {
            width: @slider-width;
         }

         .check-group {
            text-align: left;
         }
      }

      > div:first-of-type {
         border-top: @section-border;
      }

      > div:last-of-type {
         border-bottom: @section-border;
      }
   }

   #recipes {
      text-align: center;
      overflow: auto;

      #plan-container {
         display: flex;
         flex-direction: column;
         width: 90%;
         margin: auto;

         div {
            margin-bottom: @component-spacing;
            padding: @component-spacing;
            border-radius: @plan-border-radius;
            background-color: lightgray;
         }

         h3 {
            margin-top: 0;
         }

         ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
         }

         h4 {
            margin-bottom: 5px;
         }

         ol {
            margin-top: 0;
            padding-left: 0;
            list-style: none;
            counter-reset: counter;

            li {
               counter-increment: counter;
            }

            li::before {
               color: @heading-color;
               content: counter(counter) ". ";
               font-weight: bold;
               font-size: 1.2em;
            }
         }

         table {
            margin: auto;
         }

         img {
            max-width: @max-recipe-image-width;
            max-height: @max-recipe-image-height;
            border-radius: 15px;
         }
      }
   }
}

@media (min-width: 992px) {
   #application-container {
      display: flex;
      flex-direction: row;
      height: @main-height;

      #filters {
         flex: 30%;

         h2 {
            cursor: auto;

            &.chevron::after {
               display: none;
            }
         }
      }

      #recipes {
         flex: 70%;
      }
   }
}

.hidden {
   display: none !important;
}
