/* 
  Hari Kaushik, Sai Ranganathan 
  This is the main css class which allows for all the styling for all the components. The rest of the 
  React App is styled using Bootstrap and Ant Design. 
*/ 

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.basicLayout {
  height: 100%;
}

.pageTitle {
  color: white;
  margin: auto;
  padding-top: 20px;
}

.hidden {
  display: none;
}

.title {
  text-align: center;
}

.mainContent {
  margin: 24px 16px 0;
  overflow: 'initial';
}
.main {
  background-color: white;
  margin-left: 20%;
  height: 100%;
  overflow: auto;
}

.main-grow {
  margin-left: 80px;
}

.sider {
  overflow: auto;
  height: 100vh; 
  position: fixed;
  left: 0;
  z-index: 2;
}

.footer {
  text-align: center;
  height: 40px;
}

.getMeal {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.currentDay {
  color: white;
  margin-top: 10px;
}

.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}
.event-normal {
  color: #108ee9;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.meal {
  display: flex;
  padding: 10px 10px;
  border: 1px solid grey;
  margin: 10px 0;
}

.clickable {
  display: flex;
  flex: 1;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
}

.pic {
  width: 100px;
}

.mealName {
  flex: 1;
  padding-left: 20px;
  font-size: 2rem;
  height: 100px;
  line-height: 100px;
}

.mealList {
  margin: 0 10px 10px 20px;
}

.delete {
  height: 100px;
  line-height: 100px;
}

.deleteBtn {
  font-size: 24px;
  cursor: pointer;
}


.clearAll, .groceryBtn{
  margin-left: 20px;
  margin-top: 10px;
  width: 150px;
}


.imgContainer {
  text-align: center;
  margin-bottom: 20px;
}

.modalImage {
  height: 300px;
}

h3 {
  text-align: center;
}

.modalContent {
  margin: 20px;
}

.mealModal{
  height: 80vh;
  overflow: auto;
  padding: 0;
}

.youtubeContainer{
  text-align: center;
  font-size: 14pt;
  margin-bottom: 10px;
}
.jumbotron {
  background-color: blue;
}

.font-strike {
  text-decoration: line-through;
  cursor: pointer;
}

.groceryItem {
  cursor: pointer;
}

.form {
  font-size: 18px;
}

@media (max-width: 480px) {
  .currentDay, .mealName {
    font-size: 14px;
  }
  .mealName {
    line-height: 20px;
  }
}

@media (max-width: 700px) {
  .currentDay, .mealName {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .sideButtons {
    display: flex;
    justify-content: center;
  }
}
