// out: App.css, sourcemap: false, compress: true

/**
 * Conner Ardman, Ian Wohlers
 * INFO 340
 * This file provides styling information for the Cook Healthy application
 */

// Global Variables: Changing these should control the majority of the design of the page
@primary-background-color: #212529;
@background-color: radial-gradient(#f0e0b7, #f0c44e);
@component-spacing: 10px;
@slider-radius: 40px;
@chart-height: 320px;
@chart-width: 250px;
@chart-size: 200px;
@del-size: 30px;
@del-border: 2px solid black;
@slider-width: 80%;
@slider-margin: 15px 0;
@slider-height: 5px;
@slider-shadow: 1px 1px 1px #236089;
@slider-thumb-radius: 5px;
@slider-thumb-border: 1px solid #000000;
@slider-thumb-color: white;
@slider-thumb-height: 26px;
@slider-thumb-top-margin: (@slider-thumb-height / -2) + 2;
@slider-thumb-width: 16px;
@slider-color-light: #2D7DB3;
@slider-color-dark: #2D7DB3;

.ant-layout-sider, .ant-layout-header, .ant-layout-sider-trigger {
   background-color: @primary-background-color;
}

.panel-heading {
   position: relative;
}

.recipe {
   transition: 1s;
   opacity: 0;

   &.loaded {
      opacity: 1;

      &.deleted {
         opacity: 0;
      }
   }
}

.del {
   position: absolute;
   top: 5px;
   right: 0;
   cursor: pointer;
   transition: .5s;
   background: none;
   border: @del-border;
   border-radius: @del-size;
   width: @del-size;
   height: @del-size;
   display: flex;
   justify-content: center;
   align-items: center;

   &:hover {
      transform: scale(1.5);
   }
}

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.basicLayout {
  height: 100%;
}

.pageTitle {
  color: white;
  margin: auto;
  padding-top: 20px;
}

.title {
  text-align: center;
}

.mainContent {
  margin: 24px 16px 0;
  overflow: 'initial';
}

.main {
  background-color: white;
  margin-left: 20%;
  height: 100%;
  overflow: auto;
}

.main-grow {
  margin-left: 80px;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;
}

.footer {
  text-align: center;
  height: 40px;
}

.getMeal {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.currentDay {
  color: white;
  margin-top: 10px;
}

.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-normal {
  color: #108ee9;
}

.notes-month {
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.meal {
  display: flex;
  padding: 10px 10px;
  border: 1px solid grey;
  margin: 10px 0;
}

.clickable {
  display: flex;
  flex: 1;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
}

.pic {
  width: 100px;
}

.mealName {
  flex: 1;
  padding-left: 20px;
  font-size: 2rem;
  height: 100px;
  line-height: 100px;
}

.mealList {
  margin: 0 10px 10px 20px;
}

.delete {
  height: 100px;
  line-height: 100px;
}

.deleteBtn {
  font-size: 24px;
  cursor: pointer;
}

.sideButtons {
   text-align: center;
}

.clearAll, .groceryBtn {
  margin-top: 10px;
  width: 150px;
}

.imgContainer {
  text-align: center;
  margin-bottom: 20px;
}

.modalImage {
  height: 300px;
}

h3 {
  text-align: center;
}

.modalContent {
  margin: 20px;
}

.mealModal {
  height: 80vh;
  overflow: auto;
  padding: 0;
}

.youtubeContainer {
  text-align: center;
  font-size: 14pt;
  margin-bottom: 10px;
}
.jumbotron {
  background-color: blue;
}

.font-strike {
  text-decoration: line-through;
  cursor: pointer;
}

.groceryItem {
  cursor: pointer;
}

.form {
  font-size: 18px;
}

.push {
  height: 5vh;
}

header {
  text-align: center;
  padding: 0.5%;
}

footer {
  color:white;
  text-align: center;
  padding: 0.5%;
  height: 5vh;
  width: 100%;
  background: #3E4448;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: @background-color;
  background-repeat: no-repeat;
  font-size: 16px; /* Base font size */
  position: relative;
}

main {
  margin: @component-spacing;
}

#loading {
  margin: 0 auto;
}

.col-container {
  display: table;
  height: 90vh;
  width: 100%;
  text-align: center;
}

.col {
  display: table-cell;
}

.col1 {
  text-align: left;
  padding: 1%;
  width: 25%;
  background: @primary-background-color;
  color: white;
}

.col2 {
  padding: 1%;
  width: 75%;
  background: white;
  transition: 2s;
  text-align: center;
}

.loading {
  background:rgb(207, 207, 207);
  transition: 5s;
}

.loading-screen {
   height: 100vh;
   background-color: white;
}

.button-group {
   display: flex;
   justify-content: flex-start;

   button {
      margin-left: 5px;
      margin-right: 5px;
   }
}

.chevron::after {
   border-style: solid;
   border-width: 0.2em 0.2em 0 0;
   content: '';
   display: inline-block;
   height: 0.45em;
   left: 0.25em;
   position: relative;
   transform: rotate(135deg);
   top: -.15em;
   vertical-align: middle;
   width: 0.45em;
   color: white;
}

.chevron.rotated::after {
   top: 0;
   transform: rotate(45deg);
}

.chart {
   width: @chart-size;
   height: @chart-size;
   margin-left: 0;
   margin-right: 0;
}

.hidden {
   display: none !important;
}

.pieContainer {
  margin: 0 auto;
  height: @chart-height;
  width: @chart-width;
}

.control-option {
  background: red;
}

input[type=checkBox] {
   margin-right: 5px;
}

#about-page {
  background: white;

  div {
    background: white;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
  }

  div:nth-child(even) {
    color: white;
    background: #444444;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}

#filters {
   >h1 {
      font-size: 3.5rem !important;
      margin-bottom: 15px;
   }

   h3 {
      text-align: left;
      font-size: 2rem;
   }

   >div {
      margin-bottom: 15px;
   }
}

/**
 * RANGE INPUTS - Inspiration / Adaptation from this tutorial:
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
 */
input[type=range] {
  -webkit-appearance: none;
  margin: @slider-margin;
  width: @slider-width;
  cursor: pointer;

 &::-webkit-slider-runnable-track {
   height: @slider-height;
   box-shadow: @slider-shadow;
   background: @slider-color-dark;
 }

 &::-webkit-slider-thumb {
   border: @slider-thumb-border;
   height: @slider-thumb-height;
   width: @slider-thumb-width;
   border-radius: @slider-thumb-radius;
   background: @slider-thumb-color;
   -webkit-appearance: none;
   margin-top: @slider-thumb-top-margin;
 }

 &::-moz-range-track {
   width: @slider-width;
   height: @slider-height;
   background: @slider-color-dark;
 }

 &::-moz-range-thumb {
   box-shadow: @slider-shadow;
   border: @slider-thumb-border;
   height: @slider-thumb-height;
   width: @slider-thumb-width;
   border-radius: @slider-thumb-radius;
   background: @slider-thumb-color;
 }

 &::-ms-track {
   width: @slider-width;
   height: @slider-height;
   background: transparent;
   border-color: transparent;
   border-width: @slider-thumb-width 0;
   color: transparent;
 }

 &::-ms-fill-lower {
   border-radius: @slider-radius;
   box-shadow: @slider-shadow;
 }

 &::-ms-fill-upper {
   background: @slider-color-dark;
   border-radius: @slider-radius;
   box-shadow: @slider-shadow;
 }

 &::-ms-thumb {
   box-shadow: @slider-shadow;
   border: @slider-thumb-border;
   height: @slider-thumb-height;
   width: @slider-thumb-width;
   border-radius: @slider-thumb-radius;
   background: @slider-thumb-color;
 }

 &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
     background: @slider-color-light;
    }

    &::-ms-fill-lower {
     background: @slider-color-dark;
    }

    &::-ms-fill-upper {
     background: @slider-color-light;
    }
  }
}

@media (max-width: 480px) {
  .currentDay, .mealName {
    font-size: 14px;
  }
  .mealName {
    line-height: 20px;
  }
}

@media (max-width: 700px) {
  .currentDay, .mealName {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
   .col {
      border: 10px solid transparent;
      display: block;
      width: 100%;
   }

   footer {
      height: auto;
   }

   .sideButtons {
      display: flex;
      align-items: center;
      flex-direction: column;
   }
}
